/* Layout */

// Colors
$bkgrd: #DEFBFF;

$btn-bkgrd: #F5674D;


body {
  background: $bkgrd;
}

.btn-da {
  background: $btn-bkgrd;
  border: #fff 3px solid;
  color: #fff;
}

.test-choices {
  min-height: 300px;
}

.top-layer {
  z-index: 999;
}

.bottom-layer {
  z-index: 10;
}
