@import "./fonts.scss";

/* Layout */

// Colors

$dk-gray: #48545E;
$orange: #EA7763;

$bkgrd: #DEFBFF;
$dk-navy: #004367;
$mgh-blue: #6DCBC9;
$med-navy: #00799D;
$lt-med-navy: #1388AC;
$teal: #4CC3C0;
$med-yellow: #FFFCB7;
$pale-yellow: #EDE9CA;

$btn-bkgrd: #F5674D;


body {
  background: $bkgrd;
  color: $dk-navy;
}

// Header
.header-left {
  background: $dk-gray;
  width: 45%;
  text-align: right;
  border-right: #fff 7px solid;
}

.header-right {
  background: $mgh-blue;
  width: 55%;
  text-left: right;
}

.header-padding-left {
  padding: 0.5em 1.1em 0 0;
}

.header-padding-right {
  padding: 0.7em 0 0 0.9em;
}

.header {
  height: 3.0em;
  float: left;
  img {
    display: inline-block;
  }
}

// Nav

.nav-bkgrd {
  background: #fff;
}

.nav-margin {
  margin-bottom: 80px;
}

.nav { 
  .nav-item {
    display:block;
    text-align: center;
    .nav-link {
      padding-left: 0;
      padding-right: 0;
      color: $orange;
    }
  }
}

// Body

.title-border {
  border-bottom: $med-yellow 4px solid;
}

.blue-bkgrd {
  background-color: $med-navy;
}

p + ul,
p + ol {
  margin-top: -17px;
}

h1 {
  color: $pale-yellow;
  margin-bottom: 0;
}

h2 {
  color: $lt-med-navy;
  margin: 1.0em 0;
}

video {
  width: 100% !important;
  height: auto !important;
}

// Intro/Outro

.intro-outro-content-margin {
  margin: 2.0em 0;
}

// Content module

.card {
  border: none;
  border-radius: 0;
}

.content-module {
  margin: 1.8em 0;
  .h5 {
    color: $teal;
  }
}

.btn-da {
  background: $btn-bkgrd;
  border: #fff 3px solid;
  color: #fff;
}

.test-choices {
  min-height: 300px;
}

.top-layer {
  z-index: 999;
}

.bottom-layer {
  z-index: 10;
}

.notes-margin {
  margin-top: 3.2em;
  margin-bottom: 4.3em;
}
